* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-shadow {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12);
}

.navbar-border-bottom {
  border-bottom: 1px solid #4EC3BD;
  box-shadow: 0px 0px 5px 0px #4EC3BD80;
}

/* gaps */
.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

/* End gaps */

.button-style {
  border: none;
  cursor: pointer;
  border-radius: 27px;
  color: white;
  font-size: 20px;
  padding: 12px 0px;
  background-color: #3B7D7A;
  transition: .4s;
}

.button-action:hover {
  filter: brightness(115%);
}

.button-action:active, .button-style {
  filter: brightness(100%);
}

.button-disabled:disabled, .button-disabled[disabled] {
  background-color: #cccccc;
  color: #666666;
}

.fa {
  font-size: 1.375rem;
  color: #4EC3BD;
}

.color-face {
  color: #4267B2;
}

.color-twitter{
  color: #1DA1F2;
}

.color-instagram{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-size {
  font-size: 1.375rem;
}

.footer-border-top {
  border-top: 1px solid #4EC3BD;
  box-shadow: 0px 0px 5px 0px #4EC3BD80;
}

/* style scrollbar */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3B7D7A; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3B7D7A; 
}

/* End style scrollbar */

/* sweetalert */
.swal2-container {
  z-index: 1000000 !important;
}